<%- include("../partials/head.ejs") %>
    <link rel="stylesheet" href="/styles/form.css">
    <%- include("../partials/header.ejs") %>
        <main>
            <div class="form-container">
                <% if (error) { %>
                    <div class="error-message">
                        <p>
                            <%= error[0] %>
                        </p>
                    </div>
                    <% } %>
                        <form action="/admin/add" method="post" enctype="multipart/form-data">
                            <div class="label-input">
                                <label for="location">Location:</label>
                                <input type="text" name="location" value="">
                            </div>
                            <div class="label-input">
                                <label for="country">Country</label>
                                <input type="text" name="country" value="">
                            </div>
                            <div class="label-input">
                                <label for="description">Description:</label>
                                <textarea name="description" id=""></textarea>
                            </div>
                            <div class="label-input">
                                <label for="profilepic">Profile Picture:</label>
                                <input type="file" name="profilepic" multiple accept="image/png, image/jpg, image/jpeg">
                            </div>
                            <button type="submit" class="btn">Post</button>
                        </form>
            </div>
        </main>
        <%- include("../partials/footer.ejs") %>