<%- include("../partials/head.ejs") %>
    <%- include("../partials/header.ejs") %>
        <main>
            <div class="location-details-container">
                <h1>details</h1>
            </div>
        </main>
        <%- include("../partials/footer.ejs") %>